.peta {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    position: sticky;
    background-color: steelblue;
}

.app {
    display: flex;
}

@media screen and (max-width: 600px) {
    .app {
      display: flex;
      flex-direction: column;
      
    }
  }

.main {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.homestays {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.input {
    margin: 10px 10px 0px 10px;
    width: 365px;
}


